.aboutme {
  // max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 65px;
  margin-bottom: 50px;
  overflow: hidden;

  .left {
    position: absolute;
    width: 266px;
    height: 279px;
    left: 24px;
    top: 70px;
    background: $secondary;
    border-radius: 10px;
  }

  .right {
    position: absolute;
    width: 266px;
    height: 279px;
    top: -20%;
    right: -10%;
    z-index: -100;
    background: $primary;
    border-radius: 10px;
  }

  .wrapper {
    @include flex(row, space-around, flex-start);
    gap: 24px;
    padding-top: 155px;
    .ImageSection {
      width: 100%;
      height: 100%;
      position: relative;
      justify-content: flex-end;

      .Profile {
        width: 523px;
        height: 523px;
        border: 5px solid $third-color;
        border-radius: 10px;
      }
    }

    .Aboutme {
      width: 100%;
      height: 100%;
      justify-content: flex-start;

      .Heading {
        position: relative;
        margin-bottom: 70px;
        h3 {
          font-weight: 600;
          font-size: 36px;
        }
        hr {
          background-color: $primary;
          width: 110px;
          height: 5px;
          border: none;
        }
      }
      .Body {
        margin-bottom: 70px;
        p {
          width: 567px;
          font-weight: normal;
          font-size: 18px;
          line-height: 150%;
          margin-bottom: 24px;
          color: $secondary-white;
        }
      }
      .Download-btn {
        background-color: transparent;
        padding: 10px 40px;
        border: 2px solid $primary;
        border-radius: 5px;
        font-weight: 600;
        font-size: 18px;
        cursor: pointer;
        transition: 0.2s linear;
        position: relative;

        &:hover {
          background-color: $primary;
        }
      }
    }
  }
}
.line {
  position: absolute;
  width: 500px;
  height: 0px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid $pure-white;
}

@include mobile {
  .aboutme {
    padding: 0 0px;

    .left {
      width: 164px;
      height: 172px;
      left: 0px;
      top: 30px;
    }

    .right {
      width: 138px;
      height: 145px;
      top: -10%;
      right: -10%;
    }

    .wrapper {
      @include flex(column, center, center);
      width: 90%;
      margin: 0 auto;
      padding-top: 90px;
      .ImageSection {
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
        text-align: center;

        .Profile {
          width: 323px;
          height: 323px;
        }
      }

      .Aboutme {
        text-align: center;
        .Heading {
          position: relative;
          margin-bottom: 30px;
          h3 {
            font-size: 24px;
            color: $primary;
          }
          hr {
            display: none;
          }
        }
        .Body {
          margin-bottom: 60px;
          p {
            width: 100%;
            font-weight: normal;
            font-size: 14px;
            line-height: 150%;
            margin-bottom: 24px;
            color: $secondary-white;
          }
        }
      }
    }
  }
  .line {
    width: 200px;
  }
}
